.krutorusBottom {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    width: 100%;
    height: 850px;
    padding: 2rem 10%;
    background-image: url("/krutorusBottomBg.webp");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.krutorusBottom::before {
    content: "";
    position: absolute;
    inset: 0;
    background: inherit;
    filter: blur(4px) brightness(35%);
    transform: scale(1.05);
    z-index: 0;
}
.calc{
    position: absolute;
    z-index: 7;
    width: 450px;
    min-width: 450px;
    margin: auto auto;
    display: flex;
    flex-direction: column;
    height: 700px;
    gap: 30px;
    border-radius: 50px;
    border: none;
}
.images {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5;
    user-select: none;
}

/* отключаем клики только для декоративных картинок */
.cloudGray,
.man,
.bottom {
    pointer-events: none;
}

/* иконки на Bottom */
.iconsOnBottom,
.iconWrapper,
.cloudBlue,
.phoneIcon,
.cloudText,
.iconLink {
    pointer-events: auto; /* включаем клики */
}

.iconsOnBottom {
    position: absolute;
    bottom: 0%; /* примерно середина Bottom.svg по высоте */
    left: 60%;
    transform: translateX(-50%);
    display: flex;
    gap: 70px;
    z-index: 10; /* выше картинки */
}
.iconsOnBottomMob{
    display: none;
}

/* Gray cloud по центру */
.cloudGray {
    position: relative;
    z-index: 5;
    margin: 0 auto;
    top: 27%;
    left: 19%;
}

/* Blue cloud с текстом */
.blueRectMob{
    display: none;
}
.cloudBlueWrap {
    position: relative;
    margin-top: 20px;
    top: 40%;
    right: -10%;
    display: inline-block;
}
.cloudBlue {
    display: block;
    margin: 0 auto;
}
.cloudInfo{
    display: flex;
    position: absolute;
    align-items: center;
    top: 34%;
    left: 50%;
    gap: 15px;
    transform: translate(-50%, -50%);
    width: 85%;
    text-align: center;
    font-size: 15px;
    line-height: 1.4;
    color: #fff;
    z-index: 10;
    pointer-events: none;
}

/* Строитель справа от GrayCloud */
.man {
    position: absolute;
    transform: scaleX(-1);
    left: 65%;
    top: 31%;
    height: 456px;
    width: auto;
    z-index: 5;
}

/* Bottom внизу */
.bottom {
    position: absolute;
    bottom: -10%;
    left: -5%;
    width: 130%;
    height: auto;
    z-index: 5;
}
.tgUnderscore{
    color: white;

}

@media (max-width: 1480px){
    .cloudBlue{
        width: 400px;
    }
    .cloudInfo{
        font-size: 13px;
    }
    .man{
        left: 60%;
        top: 34%;
    }
}

@media (max-width: 1320px){
    .krutorusBottom{
        flex-direction: column;
        align-items: center;
        height: auto;
        gap: 55px;
        padding: 40px 20px;
    }
    .calc{
        align-self: center;
        position: relative;
        margin: 0 auto; /* Центрируем */
    }
    .iconsOnBottom{
        position: static;
    }
    .bottom, .cloudBlue, .cloudInfo{
        display: none;
    }
    .iconsOnBottom{
        display: none;
    }
    .blueRectMob{
        position: absolute;
        display: flex;
        align-items: center;
        background-color: #0088CC;
        border-radius: 30px;
        padding: 10px 30px;
        min-height: 80px;
        text-align: center;
        gap: 20px;
        z-index: 7;
        bottom: 10%;
        margin: 0 20px;
    }
    .blueRectMob p{
        color: white;
    }
    .images{
        position: relative;
        flex-direction: row;
        align-items: center;
    }
    .cloudGray{
        position: relative;
        height: 100px;
        width: auto;
        align-self: flex-start;
    }
    .man{
        position: relative;
        height: 456px;
        width: auto;
        left: -10%;
    }
    .iconsOnBottomMob {
        margin-top: 50px;
        display: flex;
        gap: 70px;
        z-index: 5;
    }

}
@media (max-width: 1200px) {
    .cloudGray{
        position: relative;
        height: 70px;
        width: auto;
        align-self: flex-start;
    }
    .man{
        position: relative;
        height: 360px;
        width: auto;
        left: -10%;
    }
}

@media (max-width: 600px) {
    .man{
        height: 320px;
    }
}
@media (max-width: 510px) {
    .cloudGray{
        left: 0;
    }
    .man{
        left: -35%;
    }
}
@media (max-width: 400px) {

    .man{
        height: 300px;
        left: -57%;
    }
}
