@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

.logoName {
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #A49FA1;
}

.nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 8;
    width: 90%;
    height: 80px;
    margin: 30px auto;
    padding: 10px;
    gap: 15px;
}

.logoWrapDesc {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoWrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    white-space: nowrap;
}

.infoWrap a {
    text-decoration: none;
    color: white;
}

.infoTop, .infoBottom {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.infoTop {
    gap: 20px;
    margin-left: 17px;
}

.infoBottom {
    gap: 10px;
}

.withSvg {
    display: flex;
    align-items: center;
    gap: 10px
}

.link {
    border-radius: 30px;
    font-size: 15px;
    padding: 5px 30px;
    background-color: #2422234D;
    transition: all 0.3s ease;
    cursor: pointer;
    border: none;
    color: white;
}

.link:hover {
    background-color: #4745456E;
}

.activeLink {
    background-color: #F4871A !important;
    box-shadow: 0 0 9px 2px rgb(255, 138, 22);
}

/* Кнопки */
.discount, .recall {
    border-radius: 30px;
    border: 2px solid #F4871A;
    color: white;
    font-size: 15px;
    padding: 7px 30px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.discount {
    background-color: #F4871A12;
    width: 40%;
}

.recall {
    background-color: transparent;
}

/* Hover / Active */
.discount:hover {
    background-color: #F4871A;
    color: #fff;
    box-shadow: 0 0 8px 2px rgba(244, 135, 26, 0.7);
}

.discount:active {
    background-color: #d9740f;
    transform: scale(0.97);
}

.recall:hover {
    background-color: #F4871A;
    color: #fff;
    box-shadow: 0 0 8px 2px rgba(244, 135, 26, 0.7);
}

.recall:active {
    background-color: #d9740f;
    transform: scale(0.97);
}

.phone {
    font-size: 22px;
    font-weight: 600;
}

.phone, .phone:visited, .phone:hover, .phone:active {
    color: white;
    text-decoration: none;
}

.infoWrap .mail, .mobileMenu .mail {
    color: #888179;
}

.infoWrap .mail:hover, .mobileMenu .mail:active {
    color: #c3bdb5;
}

/* выпадающее меню */
.mobileMenu {
    display: none;
    flex-direction: column;
    align-items: center;
    background: #1f1e1e;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    padding: 20px;
    gap: 15px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: all 0.3s ease;
    z-index: 7;
}

.mobileMenu.show {
    display: flex;
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

.mobileLink {
    border: none;
    background: transparent;
    color: white;
    font-size: 16px;
    padding: 10px 0;
    cursor: pointer;
}

/* --- адаптив --- */


/* Лого */
.logoWrapMob{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logoWrapMob img {
    max-width: 120px; /* уменьшаем */
    height: auto;
}

/* Бургер скрыт по дефолту */
.burger {
    display: none;
    flex-direction: column;
    background-color: transparent;
    justify-content: space-between;
    width: 30px;
    height: 23px;
    border: none;
    cursor: pointer;
    padding: 0;
}
.circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #F4871A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stick{
    display: block;
    height: 4px;
    background: white;
    border-radius: 3px;
    transition: all 0.3s ease;
}

/* Телефон */
.phone,
.phone:visited,
.phone:hover,
.phone:active {
    color: white !important;
    text-decoration: none;
}
@media screen and (min-width: 1400px) {
    .mobileWrap, .burger {
        display: none;
    }
}

/* Показываем бургер только на мобиле */
@media screen and (max-width: 1400px) {
    .logoWrapDesc{
        display: none;
    }
    .burger {
        display: flex;
    }
}


@media screen and (max-width: 1400px) {
    .infoWrap {
        display: none; /* скрываем десктоп */
    }

    .mobileWrap {
        display: flex;
        align-self: center;
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }

    .centerBlock{
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-self: center;
    }
    .tgPhone{
        display: flex;
        gap: 25px;
    }

    .phone {
        font-size: 18px;
        font-weight: 600;
    }

    .recall {
        border-radius: 30px;
        border: 2px solid #F4871A;
        background: transparent;
        color: white;
        font-size: 14px;
        padding: 5px 20px;
        cursor: pointer;
    }

    .burger {
        display: flex;
    }
}

/* более жёсткий адаптив под 320px */
@media screen and (max-width: 480px) {
    .logoName{
        font-size: 14px;
    }
    .phone {
        font-size: 16px;
    }
    .recall {
        font-size: 12px;
        padding: 4px 15px;
    }
    .burger {
        gap: 4px;
        width: 20px;
        height: 15px;
    }
    .circle{
        width: 35px;
        height: 35px;
    }
}

@media screen and (max-width: 360px) {
    .logoWrapMob img{
        max-width: 40px;
        height: auto;
    }
    .logoName{
        font-size: 12px;
    }
    .phone {
        font-size: 12px;
    }
    .recall {
        font-size: 11px;
        padding: 4px 12px;
    }
}
@media screen and (max-width: 340px) {
    .logoWrapMob img{
        max-width: 35px;
        height: auto;
    }
    .phone {
        font-size: 10px;
    }
    .recall {
        font-size: 9px;
        padding: 4px 10px;
    }
}
